<!--@subject Confirmation de compte pour {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"var customer.email":"Customer Email",
"store url=\"customer/account/confirm/\" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url":"Confirmation Url",
"htmlescape var=$customer.password":"Customer password"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<h1>{{block type="cms/block" block_id="email_template_say_hello"}} {{htmlescape var=$customer.name}},</h1>
<p>Votre e-mail {{var customer.email}} doit être confirmé avant de l'utiliser pour vous connecter à notre magasin.</p>
<p>Pour confirmer l'e-mail et vous connecter instantanément, veuillez utiliser <a href="{{store url="customer/account/confirm/" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url}}">ce lien de confirmation</a>. Ce lien n'est valide qu'une seule fois.</p>
<p>Utilisez les valeurs suivantes lorsque vous êtes invité(e) à vous connecter:<br/>
    <strong>E-mail:</strong> {{var customer.email}}<br/>
    <strong>Mot de passe:</strong> {{htmlescape var=$customer.password}}<p>
<p>{{block type="cms/block" block_id="email_template_contact"}}</p>

{{template config_path="design/email/footer"}}
